.page-view {
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
	transform-style: preserve-3d;
}

// main view

$mainViewTransitionTime: 600ms;

.#{$home}.ng-enter {
	animation: moveFromBottom $mainViewTransitionTime ease both;
}

.#{$section}.ng-enter {
	animation: moveFromTop $mainViewTransitionTime ease-in-out both;
}

.page-view--main.ng-enter {
    z-index: 1;
}

.page-view--main.ng-leave {
	animation: moveToBottom $mainViewTransitionTime ease-in-out both;
    z-index: 0;
}

// section navigation

$navTransitionTime: 600ms;
$navTransitionFunction: ease;

// this one is to fool angular to trigger animation
.page-nav {
    transition: visibility $navTransitionFunction $navTransitionTime;
}
// on hide
.page-nav.ng-hide-add.ng-hide-add-active {
    transform-origin: 50% 0%;
	animation: rotatePushTop $navTransitionTime both $navTransitionFunction;
}
// on show
.page-nav.ng-hide-remove.ng-hide-remove-active {
    transform-origin: 50% 0%;
    animation: rotatePullTop $navTransitionTime both $navTransitionFunction;
}
