.page-view {
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
	transform-style: preserve-3d;
}

// main view

$mainViewTransitionTime: $globalTransitionTime;

.#{$home}.ng-enter {
	animation: moveFromBottom $mainViewTransitionTime ease both;
}

.#{$section}.ng-enter {
	animation: moveFromTop $mainViewTransitionTime ease-in-out both;
}

.page-view--main.ng-enter {
    z-index: 1;
}

.page-view--main.ng-leave {
	animation: moveToBottom $mainViewTransitionTime ease-in-out both;
    z-index: 0;
}

.page-view--detail.ng-enter {
    animation: moveFromRight $mainViewTransitionTime ease-in-out both;
    z-index: 20;
}

.page-view--detail.ng-leave {
	animation: moveToRight $mainViewTransitionTime ease-in-out both;
    z-index: 10;
}

// section navigation

$navTransitionTime: $globalTransitionTime;
$navTransitionFunction: ease;

// this one is to fool angular to trigger animation
.page-nav {
    transition: border-color $navTransitionFunction $navTransitionTime;
}
.page-nav--holder {
    transition: all $navTransitionFunction $navTransitionTime;
}
.page-nav--item {
    transition: all $navTransitionFunction $navTransitionTime / 3;
}
.page-mobilenav--button {
    transition-duration: $navTransitionTime;
}
// on hide
.page-nav.ng-hide-add.ng-hide-add-active {
    transform-origin: 50% 0%;
	animation: rotatePushTop $navTransitionTime both $navTransitionFunction;
}
// on show
.page-nav.ng-hide-remove.ng-hide-remove-active {
    transform-origin: 50% 0%;
    animation: rotatePullTop $navTransitionTime both $navTransitionFunction;
}
