/* DEV */

.page-nav {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 66;
}

.page-nav--item {
    display: inline-block;
    margin: 10px;
    text-transform: capitalize;
    vertical-align: top;
}