/*

* This CSS resource incorporates links to font software which is the valuable copyrighted
* property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
* redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
* Imaging with any questions regarding Web Fonts:  http://webfonts.fonts.com

*/

// Latin extended

@font-face {
    font-family: "VeljovicScriptLTW02-Bol";
    src: url("../fonts/f5fd8639-88fb-4e13-8b5a-4854f1ed43d2.eot?#iefix");
    src: url("../fonts/f5fd8639-88fb-4e13-8b5a-4854f1ed43d2.eot?#iefix") format("eot"),
         url("../fonts/e5eeccc1-09fc-4134-9315-e22ad38e7b55.woff") format("woff"),
         url("../fonts/bc74650e-73ae-431f-8db0-7047c07070e1.ttf") format("truetype"),
         url("../fonts/0673a3a0-802c-4c6e-97b3-ae58c1afef5b.svg#0673a3a0-802c-4c6e-97b3-ae58c1afef5b") format("svg");
}

@font-face {
    font-family: "VeljovicScriptLTW02-Med";
    src: url("../fonts/5d53372a-9667-4022-a4db-e7b3a660695c.eot?#iefix");
    src: url("../fonts/5d53372a-9667-4022-a4db-e7b3a660695c.eot?#iefix") format("eot"),
         url("../fonts/7c398b1e-3712-4304-8f72-9d2d717d4b54.woff") format("woff"),
         url("../fonts/096ab833-3a22-4bf9-81df-8c5034d8482f.ttf") format("truetype"),
         url("../fonts/624f4a44-1305-4c55-b0cf-a5c554432df3.svg#624f4a44-1305-4c55-b0cf-a5c554432df3") format("svg");
}

@font-face {
    font-family: "VeljovicScriptLTW02-Reg";
    src: url("../fonts/0ef52d13-9ed6-4d9f-8187-9ffbeb1041bb.eot?#iefix");
    src: url("../fonts/0ef52d13-9ed6-4d9f-8187-9ffbeb1041bb.eot?#iefix") format("eot"),
         url("../fonts/d447c70e-17c0-402f-be06-9d7cc6e90cd6.woff") format("woff"),
         url("../fonts/8e662703-35af-4952-991b-7457a555a13d.ttf") format("truetype"),
         url("../fonts/8aa546d9-db9e-48cc-b2d6-7cba64b0af47.svg#8aa546d9-db9e-48cc-b2d6-7cba64b0af47") format("svg");
}

@font-face {
    font-family: "VeljovicScriptLTW02-Lig";
    src: url("../fonts/877ddc39-34da-462c-bfe7-7553ced2d31b.eot?#iefix");
    src: url("../fonts/877ddc39-34da-462c-bfe7-7553ced2d31b.eot?#iefix") format("eot"),
         url("../fonts/ebc9aa4d-17ef-4c95-b1c7-d7d19a6f5531.woff") format("woff"),
         url("../fonts/7d13e949-2093-4110-82a6-1d2b51c3faa3.ttf") format("truetype"),
         url("../fonts/e479d2cc-5c81-4c7f-bb80-a5d3ad6c2212.svg#e479d2cc-5c81-4c7f-bb80-a5d3ad6c2212") format("svg");
}

// Cyrillic

@font-face {
    font-family: "VeljovicScriptLTW10-Bol";
    src: url("../fonts/75aa6616-7efa-4806-8b98-52e21e16ff46.eot?#iefix");
    src: url("../fonts/75aa6616-7efa-4806-8b98-52e21e16ff46.eot?#iefix") format("eot"),
         url("../fonts/35764f94-53d9-4074-8819-907a0ad95f70.woff") format("woff"),
         url("../fonts/3730dc7a-4dd8-476a-ada4-55e129d7ecec.ttf") format("truetype"),
         url("../fonts/b2fa994e-f463-48b2-8f16-b0afe260c1b5.svg#b2fa994e-f463-48b2-8f16-b0afe260c1b5") format("svg");
}

@font-face {
    font-family: "VeljovicScriptLTW10-Med";
    src: url("../fonts/3b51c365-a80b-4bcc-b98d-f1d3e44d1776.eot?#iefix");
    src: url("../fonts/3b51c365-a80b-4bcc-b98d-f1d3e44d1776.eot?#iefix") format("eot"),
         url("../fonts/f8b89c39-e4a8-4345-8697-b08056abce34.woff") format("woff"),
         url("../fonts/2da0ecaa-e7b6-45b0-b173-dad2813d1678.ttf") format("truetype"),
         url("../fonts/4301175b-1740-460a-974e-a4c48ed95659.svg#4301175b-1740-460a-974e-a4c48ed95659") format("svg");
}

@font-face {
    font-family: "VeljovicScriptLTW10-Reg";
    src: url("../fonts/9ed83880-5e17-42fd-9af4-3f4a831d4e81.eot?#iefix");
    src: url("../fonts/9ed83880-5e17-42fd-9af4-3f4a831d4e81.eot?#iefix") format("eot"),
         url("../fonts/3609d570-0cac-431c-b2ab-ff86ea1484c6.woff") format("woff"),
         url("../fonts/6c73c69c-57a0-412a-92fa-643957ddcf7b.ttf") format("truetype"),
         url("../fonts/a5ac5ae9-dfc2-417f-a66d-c41a5c610f14.svg#a5ac5ae9-dfc2-417f-a66d-c41a5c610f14") format("svg");
}

@font-face {
    font-family: "VeljovicScriptLTW10-Lig";
    src: url("../fonts/0378c1a8-4aed-4be4-bd48-fc964306ed96.eot?#iefix");
    src: url("../fonts/0378c1a8-4aed-4be4-bd48-fc964306ed96.eot?#iefix") format("eot"),
         url("../fonts/3f2c7f07-3fe2-44a2-bc13-0a4776fa27a0.woff") format("woff"),
         url("../fonts/584cff1f-4d74-4f8e-aa91-43f658ac88c0.ttf") format("truetype"),
         url("../fonts/6fc2026a-6805-4612-8e24-63b16f7f7f1a.svg#6fc2026a-6805-4612-8e24-63b16f7f7f1a") format("svg");
}