@import 'reset';
@import 'base';

.cursor-pointer {
    @extend %cursor-pointer;
}

.view-container {
    @extend %full;
}

.nav-container {
    @extend %full;
    height: 95%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 20;
}

.nav-item {
    @extend %screen-centered;
    float: left;
    height: 100%;
    position: relative;
    text-align: center;
    width: auto;
}

.bckgd-attractor {
    @extend %full;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.bckgd-attractor svg {
    @extend %full;
}

/* intro */
.intro-toplayer {
    position: relative;
    text-align: center;
    z-index: 10;
}

@import 'dev';