@import 'base';
@import 'viewsanimation';

/*
Global classes
Intro
Section
    Section detail
    Section nav
*/


// Cursive font declaration
.cursive-bold {
    @extend %cursiveLatinBold;
}
.cursive-medium {
    @extend %cursiveLatinMedium;
}
.cursive-regular {
    @extend %cursiveLatinRegular;
}
.cursive-light {
    @extend %cursiveLatinLight;
}
// Cyrillic overriding
.lang-ru {
    .cursive-bold {
        @extend %cursiveCyrillicBold;
    }
    .cursive-medium {
        @extend %cursiveCyrillicMedium;
    }
    .cursive-regular {
        @extend %cursiveCyrillicRegular;
    }
    .cursive-light {
        @extend %cursiveCyrillicLight;
    }
}

// GLOBALS

.cursor-pointer {
    @extend %cursorPointer;
}

.page-view {
	position: absolute;
    @extend %full;
}

.iscroll-holder {
    @extend %iscrollHolder;
}

.img-wrap {
    background-color: #c1c1c1;
    text-align: center;
    img {
        color: transparent;
        display: inline-block;
        vertical-align: middle;
    }
}

.img-portrait img {
    height: 100%;
    width: auto;
}

.img-landscape img {
    height: auto;
    width: 100%;
}

.footer {
    background-color: #808080;
}

// INTRO

.doll-nav {
    bottom: 5%;
    height: 85%;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 20;
}

.doll-nav--item {
    @extend %screenCentered;
    float: left;
    height: 100%;
    position: relative;
    text-align: center;
    width: auto;
}

.doll-attractor {
    @extend %full;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
    svg {
        @extend %full;
    }
}

.#{$home} {
    top: 0;
    .headline {
        @extend .cursive-regular;
        font-size: 2em;
        font-size: 5vmin;
        position: relative;
        text-align: right;
        text-shadow: 1px 1px 1px #808080;
        z-index: 10;
        ._border-wrap {
            border-width: 0.675em;
            display: inline-block;
            margin: 20px 10% 0 0;
            text-align: center;
            vertical-align: top;
            @extend %frameBorder;
            // @extend %frameBorderBckgd;
        }
        ._bckgd-wrap {
            background-color: #ffffff;
            background-clip: padding-box;
            border: 1px solid transparent;
            border-radius: 3px;
            display: inline-block;
            margin: 1px;
            padding: 10px 15px;
        }
    }
    .footer {
        bottom: 0;
        height: 16%;
        position: absolute;
        width: 100%;
    }
}

$spacingForNavAndSection: 10px;
$sectionHolderWidth: 100% - $pageLayoutLeft;

// SECTION
.section-holder {
    @extend %iscrollWrapper;
    bottom: 4em;
    line-height: 1.65;
    font-size: 1.1em;
    width: $sectionHolderWidth;
    @extend %pageMarginLeft;
    .iscroll-holder {
        width: 100%;
    }
}

.section-inner {
	@extend %pageMarginRight;
	max-width: 1000px;
    padding: 20px 0 0 $spacingForNavAndSection;
}

.section-title {
    border-style: solid;
    border-width: 0 0 1px 0;
    font-size: 1.375em;
    line-height: 2;
    margin: -0.55em 0 0.7em 0;
    text-indent: 0.15em;
    text-transform: uppercase;
    @extend .cursive-bold;
    &:empty {
        border-color: transparent;
        margin: 0;
    }
}

.section-markdown {
    h2, h3, p, ul, ol {
        margin-bottom: 15px;
    }
    h2 {
        border-style: dotted;
        border-width: 0 0 1px 0;
        font-size: 1.66em;
        letter-spacing: 0.05em;
        padding-top: 10px;
        @extend .cursive-medium;
    }
    h3 {
        font-size: 1.1em;
        font-style: italic;
        font-weight: bold;
        padding-top: 15px;
    }
    h2 + h3 {
        padding-top: 0;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    $imgWrapHeight: 320px;
    $imgWrapWidth: 65%;
    .img-wrap {
        border-width: 1em;
        max-height: $imgWrapHeight;
        max-width: $imgWrapWidth;
        min-height: 1.5em;
        @extend %frameBorderTrans;
        &:before {
            color: #fff;
            content: 'Loading Image...';
            display: block;
            height: 0;
        }
        &.img-width-caption {
            display: inline-block;
            vertical-align: top;
        }
        &.img-landscape {
            max-height: none;
            width: $imgWrapWidth;
        }
        &.img-portrait {
            display: inline-block;
            height: $imgWrapHeight;
            vertical-align: top;
        }
    }
    .img-caption {
        display: inline-block;
        margin: 1em 0 0 1em;
        vertical-align: top;
        width: calc(35% - 3em);
        @media screen and (max-width: 1000px) {
            display: block;
            margin-left: 0;
            width: auto;
        }
    }
    .img-wrap img {
        border-radius: 4px;
        margin-left: 0.025em;
    }
    ul li {
        $leftIndent: 20px;
        margin: 5px 0px;
        padding: 0 $leftIndent;
        &:before {
            content: '-';
            display: inline-block;
            font-size: 1.1em;
            margin-top: -0.1em;
            margin-left: -$leftIndent;
            vertical-align: top;
            width: $leftIndent;
        }
    }
    strong {
        font-weight: bold;
    }
    em {
        font-style: italic;
    }
}

.section-end {
    font-size: 1.1em;
    font-style: italic;
    text-align: center;
    &.loaded {
        font-size: 1.66em;
        font-style: normal;
        @extend .cursive-medium;
    }
    span {
        display: inline-block;
        vertical-align: top;
    }
}

.section-footer {
    background-clip: padding-box;
    background-color: #d4d4d4;
    border-top: 3px groove hsla(0, 0%, 97%, 0.2);
    bottom: 2.9em;
    height: 1.45em;
    overflow: visible;
    position: absolute;
    width: 100%;
    z-index: 3;
}

.section-doll {
    bottom: 2.9em;
    height: 20%;
    margin-bottom: 8px;
    position: absolute;
    text-align: center;
    width: 20%;
    z-index: 4;
    svg {
        @extend %full;
    }
}

// SECTION -> DETAIL
.page-view--detail {
    z-index: 5;
}

.section-detail--holder {
    border-style: solid;
    border-width: 0 0 0 1px;
    @extend %pageBckgdImg;
}

.section-detail--close {
    cursor: pointer;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 20%;
    ._inner {
        font-size: 1.1em;
        line-height: 1;
        margin-left: 100%;
        padding-top: 30px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        span {
            display: inline-block;
            vertical-align: middle;
            &:first-child {
                vertical-align: top;
            }
        }
    }
    &.close-on ._inner {
        margin-left: 0;
    }
    &:hover ._inner {
        color: inherit;
    }
}
// SECTION -> NAV

$pageNavFontSize: 1.1em;
$pageNavLineHeight: 1.4;

.page-nav {
    background-color: #fff;
    border-style: solid;
    border-width: 0 0 2px 0;
    font-size: $pageNavFontSize;
    line-height: $pageNavLineHeight;
    position: relative;
    text-transform: uppercase;
    z-index: 66;
    @extend .cursive-medium;
}
.page-nav--holder {
    height: auto;
    opacity: 1;
    width: 200%;
    @extend %pageMarginLeft;
    &.#{$mobileNavActive} {
        overflow: hidden;
        opacity: 0;
    }
    &.#{$mobileNavOpen} {
        opacity: 1;
    }
}
.page-nav--item {
    display: inline-block;
    margin: 0 $spacingForNavAndSection $spacingForNavAndSection;
    padding-top: $spacingForNavAndSection;
    text-decoration: none;
    vertical-align: top;
    &.#{$navActive} {
        text-decoration: underline;
    }
    .#{$mobileNavActive} & {
        display: block;
        visibility: hidden;
    }
    .#{$mobileNavOpen} & {
        visibility: visible;
    }
}

.page-mobilenav--button {
    left: 0;
    position: absolute;
    text-align: center;
    transform: rotateZ(0deg);
    width: $pageNavFontSize * $pageNavLineHeight;
    z-index: 88;
    &.#{$mobileNavActive} {
        cursor: pointer;
        left: $pageLayoutLeft;
        transform: rotateZ(45deg);
    }
    &.#{$mobileNavOpen} {
        margin-left: -($pageNavFontSize * $pageNavLineHeight);
        transform: rotateZ(0deg);
    }
}
.page-mobilenav--button-inner {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    svg {
        height: 100%;
        width: 100%;
    }
}

@import 'helpers';
@import 'dev';