@mixin box-sizing($sizing: border-box) {
	box-sizing: $sizing;
}

@mixin box-shadow($shadow: 0 1px 1px rgba(0,0,0,.3)) {
	box-shadow: $shadow;
}

@mixin linear-top-gradient($c1: #fff, $c2: #000) {
	background-image: linear-gradient(to bottom, $c1, $c2);
}

@mixin border-radius($radius: 3px) {
	border-radius: $radius;
	background-clip: padding-box;
}

@mixin transform($transform: rotate(360deg)) {
	transform: $transform;
}

@mixin opacity($opacity: 1) {
	opacity: $opacity;
}

@mixin transition($transition: all 0.2s) {
	transition: $transition;
}

@mixin background-size($background-size: cover) {
	background-size: $background-size;
}