$white: #fffffc;
$red: #dd1e2f;
$orange: #ebb035;
$blue: #06a2cb;
$green: #218559;
$tan: #d0c6b1;
$dark: #192823;

$color_names: white red orange blue green tan dark;
$color_vars: $white $red $orange $blue $green $tan $dark;