$white: #fffffc;
$red: #eb2228; // #dd1e2f;
$orange: #ebb035;
$blue: #005c8f; // #06a2cb;
$green: #94cf1c; // #218559;
$tan: #d0c6b1;
$dark: #192823;

$folk-l-green: #94cf1c;
$folk-d-green: #00a849;

$folk-yellow: #ffcc00;
$folk-orange: #ff8304;
$folk-red: #eb2228;
$folk-pink: #ff0090;

$folk-l-pink: #ffadaf;
$folk-d-pink: #bd3078;

$folk-blue: #005c8f;

$folk-l-blue: #5dd9f9;
$folk-d-blue: #2a2d96;


$color_names: white red orange blue green tan dark;
$color_vars: $white $red $orange $blue $green $tan $dark;

$section_colors: $red $green $blue;