<div ng-controller="SectionDetailCtrl">
    <div class="section-holder section-detail--holder {{ contraBorder }}">
        <div class="iscroll-holder" appdir-iscroll>
            <div class="section-inner">
                <h1 class="section-title {{ contraBorder }} {{ contraColor }}">{{ detailContent.articleTitle }}</h1>
                <div class="section-markdown" appdir-markdown="detailContent.articleText"></div>
                <div class="section-end {{ contraColor }}" appdir-section-loading>
                    <span>~</span>
                    <span ng-hide="$parent.contentLoaded">Loading content, one sec please...</span>
                    <span ng-show="$parent.contentLoaded && detailValid">&bull;</span>
                    <span ng-show="$parent.contentLoaded && !detailValid">
                        Oops ): no luck here, try again in <a ui-sref="{{ currentViewName }}">{{ currentViewName }}</a>
                    </span>
                    <span>~</span>
                </div>
            </div>
        </div>
    </div>
    <div class="section-detail--close {{ contraColor }} cursive-medium" appdir-detail-close="close-on">
        <div class="_inner {{ mainColor }}" ng-show="$parent.contentLoaded && detailValid">
            <span>&lt;</span>
            <span>{{ currentViewName }}</span>
        </div>
    </div>
</div>