<section ng-controller="SectionCtrl">
    <div class="section-holder {{ mainBorder }}">
        <div class="iscroll-holder" appdir-iscroll>
            <div class="section-inner">
                <h1 class="section-title {{ mainBorder }} {{ mainColor }}">{{ sectionContent.content.title }}</h1>
                <div class="section-markdown" appdir-markdown="sectionContent.content.txt"></div>
                <div class="section-end {{ mainColor }}" appdir-section-loading>
                    <span>~</span>
                    <span ng-hide="contentLoaded">Loading content, one sec please...</span>
                    <span ng-show="contentLoaded">&bull;</span>
                    <span>~</span>
                </div>
            </div>
        </div>
    </div>
    <article ui-view class="page-view page-view--detail" ng-class="{hidden:isDetailView()}"></article>
    <footer class="section-footer footer">
        Footer
    </footer>
</section>